*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: orange;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: #aaa;
    padding: 10px;
    width: 70%;
}

.logo{
    font-size: 40px;
    font-weight: bold;
    color: #fff
}

.Cart{
    position: relative;
    left: 580%;
    bottom: 38px;
    font-size: 30px;
    display: flex;
}

.Cart i{
    right: 20px;
    position: relative;
}

.Cart p{
    position: relative;
    bottom: 20px;
    right: 20px;
}

.container{
    display: flex;
    width: 70%;
    margin-top: 50px;
}

#root{
    width: 60%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px
}

.sidebar{
    width: 40%;
    background: #fff;
    border-radius: 5px;
    margin-left: 10px;
    padding: 20px;
    text-align: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    border: solid;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-item p{

}

.cart-item h2{

}
.row-img{

}
.row-img img{
width: 50px;
height: 50px;
}
